<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nor3stbackend.www.solved.query.infra.mapper.SolvedMapper">
    <select id="getMyDailyTask" resultType="DailyTaskVO">
        SELECT s.SOLVED_ID, s.IS_SOLVED, s.SOLVED_SCORE,
               p.KOREAN_CONTENT, p.VIET_CONTENT, p.AUDIO_URL, p.PROBLEM_ID
        FROM SOLVED s
        JOIN PROBLEM p ON p.PROBLEM_ID = s.PROBLEM_ID
        WHERE MEMBER_ID = #{memberId} AND s.SOLVED_DATE = CURDATE()
    </select>
    <select id="getMyDailyTaskListeningWrongVietList" resultType="String">
        SELECT VIET_CONTENT
        FROM PROBLEM
        WHERE PROBLEM_ID != #{problemId}
        ORDER BY RAND()
        LIMIT 4
    </select>
    <select id="getCompanyDailySolvedRate" resultType="double">
        SELECT COUNT(*) / (SELECT COUNT(*) FROM SOLVED WHERE COMPANY_ID = #{companyId} AND SOLVED_DATE = CURDATE()) * 100
        FROM SOLVED
        WHERE COMPANY_ID = #{companyId} AND SOLVED_DATE = CURDATE() AND IS_SOLVED != "UNSOLVED"
    </select>
    <select id="getCompanyDailySolvedAvgScore" resultType="double">
        SELECT AVG(SOLVED_SCORE)
        FROM SOLVED
        WHERE COMPANY_ID = #{companyId} AND SOLVED_DATE = CURDATE() AND IS_SOLVED != "UNSOLVED"
    </select>
    <select id="getCompanyDailySolvedEmployeeCount" resultType="int">
        SELECT COUNT(DISTINCT MEMBER_ID)
        FROM SOLVED
        WHERE COMPANY_ID = #{companyId} AND SOLVED_DATE = CURDATE() AND IS_SOLVED != "UNSOLVED"
    </select>
    <select id="getCompanyTaskPercentageDaily" resultType="com.nor3stbackend.www.solved.query.application.vo.TaskProgressPercentageVO">
        select count(case when s.is_solved = 'SOLVED' and s.problem_type = 'LISTENING' then s.is_solved end) / count(case when s.problem_type = 'LISTENING' then s.is_solved end) * 100 AS listening,
               count(case when s.is_solved = 'SOLVED' and s.problem_type = 'SPEAKING' then s.is_solved end) / count(case when s.problem_type = 'SPEAKING' then s.is_solved end) * 100 as speaking,
               count(case when s.is_solved = 'SOLVED' then s.is_solved end) / count(*) as total
        from solved s left join member m
                                on s.member_id = m.member_id
        where s.solved_date = curdate()
          and m.company_id = #{companyId};
    </select>
    <select id="getCompanyTaskPercentageWeekly" resultType="com.nor3stbackend.www.solved.query.application.vo.TaskProgressPercentageVO">
        <![CDATA[
        select count(case when s.is_solved = 'SOLVED' and s.problem_type = 'LISTENING' then s.is_solved end) / count(case when s.problem_type = 'LISTENING' then s.is_solved end) * 100 AS listening,
            count(case when s.is_solved = 'SOLVED' and s.problem_type = 'SPEAKING' then s.is_solved end) / count(case when s.problem_type = 'SPEAKING' then s.is_solved end) * 100 as speaking,
            count(case when s.is_solved = 'SOLVED' then s.is_solved end) / count(*) as total
        from solved s left join member m
        on s.member_id = m.member_id
        where s.solved_date >= curdate() - interval 7 day
        and s.solved_date <= curdate()
        and m.company_id = #{companyId};
        ]]>
    </select>
    <select id="getCompanyTaskPercentageMonthly" resultType="com.nor3stbackend.www.solved.query.application.vo.TaskProgressPercentageVO">
        <![CDATA[
        select count(case when s.is_solved = 'SOLVED' and s.problem_type = 'LISTENING' then s.is_solved end) / count(case when s.problem_type = 'LISTENING' then s.is_solved end) * 100 AS listening,
               count(case when s.is_solved = 'SOLVED' and s.problem_type = 'SPEAKING' then s.is_solved end) / count(case when s.problem_type = 'SPEAKING' then s.is_solved end) * 100 as speaking,
               count(case when s.is_solved = 'SOLVED' then s.is_solved end) / count(*) as total
        from solved s left join member m
        on s.member_id = m.member_id
        where year(s.solved_date) = year(curdate())
          and month(s.solved_date) = month(curdate())
          and m.company_id = #{companyId};
        ]]>
    </select>
</mapper>