<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.nor3stbackend.www.member.command.domain.aggregate.MemberEntity" alias="MemberEntity"/>
        <typeAlias type="com.nor3stbackend.www.solved.command.domain.aggregate.SolvedEntity" alias="SolvedEntity"/>
        <typeAlias type="com.nor3stbackend.www.problem.command.domain.aggregate.ProblemEntity" alias="ProblemEntity"/>
    </typeAliases>
</configuration>